VITE_API_BASE_URL=http://localhost:8888/app
# Required for Firebase Web Push. Use the public Web Push certificate key from Firebase Console.
VITE_FIREBASE_VAPID_KEY=D:\Learning\Javaaa\Learn_Backend\Spring_WebFlux\appp\social_media_FE\public\firebase-messaging-sw.js
